/*登录表格*/
#login-from{
    padding: 35px 30px 28px;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
}
#login-from>h2{
    padding-bottom: 15px;
}
#login-from>button{
    margin-top: 20px;
}
/*卡片*/
.card-page{
    padding: 20px 35px;
    margin: 20px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    position: relative;
}
.card-page>ul{
    margin-bottom: 0;
}
/*卡片的错误按钮*/
.false{
    position: absolute;
    right: 25px;
    top: 20px;
}
.false>svg{
    color: gray;
}