#login-from{
    padding: 35px 30px 28px;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
}
#h44{
    padding-bottom: 15px;
}
#login-btn{
    margin-top: 20px;
}
#val-page{
    display: none;
}
.card-page{
    padding: 20px 35px;
    margin: 20px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    position: relative;
}
.false{
    position: absolute;
    right: 25px;
    top: 20px;
}